.search-field{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}

.search-input{
    display: block;
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 1px solid #b0afac;
    border-radius: 20px;
}

.search-input:focus{
    outline: none;
}

.search-icon{
    position: absolute;
    left: 5px;
    top: 7px;
    cursor: pointer;
}
